@import "__container/comments__container.css";
@import "__author/comments__author.css";
@import "__comment/comments__comment.css";
@import "__content-subtitle/comments__content-subtitle.css";
@import "__content-title/comments__content-title.css";
@import "__image/comments__image.css";
@import "__quote/comments__quote.css";


.comments {
    max-width: 1184px;
    margin: 112px auto 0;
}

@media screen and (max-width: 900px) {
    .comments {
        margin: 105px auto 0;
    }
}