.places__paragraph {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;

    color: #FFFFFF;

    margin: 0;
    padding-bottom: 36px;
}

@media screen and (max-width: 900px) {
    .places__paragraph {
        padding-bottom: 24px;
        font-size: 16px;
        line-height: 27px;
    }
}

@media screen and (max-width: 600px) {
    .places__paragraph {
        max-width: 338px;
        padding-bottom: 25px;
        font-size: 16px;
        line-height: 27px;
    }
}