.additional__text {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    padding-top: 95px;

    color: #FFFFFF;

    z-index: 2;
}
