.video__content-title {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 4.875rem;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;

    color: #FFFFFF;
    padding-bottom: 48px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .video__content-title {
        padding-bottom: 24px;
    }
}

@media screen and (min-width: 400px) and (max-width: 767px) {
    .video__content-title {
        font-size: 2.625rem;
        line-height: 2.875rem;
        padding-bottom: 24px;
        max-width: 400px;
    }
}

@media screen and (max-width: 399px) {
    .video__content-title {
        font-size: 2rem;
        line-height: 2.1875rem;
        padding-bottom: 16px;
    }
}