@import "__item/photo-grid__item.css";

.photo-grid {
    margin: 97px auto 0;
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 17px;
    grid-row-gap: 17px;
}


@media screen and (min-width: 900px) and (max-width: 1400px) {
    .photo-grid {
        padding: 0 48px;
    }
}

@media screen and (max-width: 900px) {
    .photo-grid {
        padding: 0 24px;
    }
}

@media screen and (max-width: 600px) {
    .photo-grid {
        grid-row-gap: 21px;
        margin: 69px auto 0;
        padding: 0 16px;
    }
}
