@import "__image/places__image.css";
@import "__item/places__item.css";
@import "__paragraph/places__paragraph.css";
@import "__title/places__title.css";
@import "__url/places__url.css";
@import "__url-heading/places__url-heading.css";
@import "__website/places__website.css";
@import "__text/places__text.css";

.places {
    margin: 55px auto;
    max-width: 984px;
}

@media screen and (max-width: 1200px) {
    .places {
        margin: 76px auto;
    }
}

@media screen and (min-width: 900px) and (max-width: 1400px) {
    .places {
        padding: 0 48px;
    }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
    .places {
        padding: 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .places {
        padding: 0 16px;
    }
}
