.places__image {
    max-width: 460px;
    grid-area: image;
}

@media screen and (max-width: 1100px) {
    .places__image {
        max-width: 440px;
    }
}

@media screen and (max-width: 900px) {
    .places__image {
        max-width: 340px;
    }
}


@media screen and (max-width: 600px) {
    .places__image {
        max-width: 100%;
        padding: 0;
    }
}