.places__title {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;

    color: #FFFFFF;

    padding-top: 80px;
    margin: 0;
    align-self: flex-end;
}
