.cover__subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin: 134px auto 48px;
    color: #FFFFFF;
    max-width: 382px;
    z-index: 2;
    position: relative;
}
