@import "__title/video__title.css";
@import "__subtitle/video__subtitle.css";
@import "__container/video__container.css";
@import "__content-subtitle/video__content-subtitle.css";
@import "__content-title/video__content-title.css";
@import "__duration/video__duration.css";
@import "__icon-play/video__icon-play.css";
@import "__link/video__link.css";
@import "__item-bg/video__item-bg.css";
@import "__text/video__text.css";


.video {
    margin: 75px auto 0;
    max-width: 1184px;
    width: 100%;
}

@media screen and (max-width: 1100px) {
    .video {
        margin: 0 auto;
    }
}