@import "_observatory/video__link_observatory.css";
@import "_kamchatcka/video__link_kamchatcka.css";

.video__link {
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: end;
    z-index: 0;
    width: 584px;
    background-size: cover;
    border-radius: 10px;
}

.video__link:hover .video__item-bg {
    opacity: 0.8;
}

@media screen and (max-width: 1300px) {
    .video__link {
        max-width: 90%;
        width: 49%;
    }
}


@media screen and (max-width: 1100px) {
    .video__link {
        height: 283px;
        padding-top: 5px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}

@media screen and (max-width: 900px) {
    .video__link {
        height: 195px;
    }
}

@media screen and (max-width: 600px) {
    .video__link {
        max-width: 290px;
        min-width: 270px;
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 500px) {
    .video__link {
        width: 100%;
        margin-bottom: 8px;
        max-width: 92%;
    }
}

@media screen and (max-width: 350px) {
    .video__link {
        max-width: 290px;
        max-height: 177px;
        padding-bottom: 10px;
        margin-bottom: 8px;
        padding-top: 5px;
    }
}
