.places__text {
    max-width: 475px;
    grid-area: text;
}

@media screen and (max-width: 900px){
    .places__text {
        margin-top: -10px;
    }
}

@media screen and (max-width: 600px){
    .places__text {
        margin-top: 0;
        padding: 0 16px;
    }
}

