@import "./__lang/header__lang.css";
@import "./__lang-container/header__lang-container.css";
@import "./__logo/header__logo.css";

.header {
    margin: 30px auto 0;
    width: 1184px;

    display: flex;
    justify-content: space-between;
    align-content: center;
}
