.footer__link {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;

    color: #FFFFFF;
    text-decoration: none;
    margin-right: 18px;
}

@media screen and (max-width: 1100px) {
    .footer__link {
        margin: 3px;
        padding-left: 10px;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .footer__link {
        padding-left: 0;
        margin: 7px;
        font-size: 16px;
        line-height: 27px;
    }
}

@media screen and (max-width: 600px) {
    .footer__link {
        font-size: 24px;
        line-height: 41px;    }
}
