.lead__image {
    background-image: url("../../../images/polka.jpg");
    background-size: cover;
    margin: 78px auto 0;
    max-width: 985px;
    width: 100%;
}

@media screen and (max-width: 700px) {
    .lead__image {
        margin: 32px auto 0;
    }
}