.lead__image {
    background-image: url("../../../images/polka.jpg");
    background-size: cover;
    margin: 69px auto 0;
    max-width: 985px;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1200px) {
    .lead__image {
        height: 555px;
    }
}

@media screen and (max-width: 900px){
    .lead__image {
        height: 420px;
    }
}

@media screen and (max-width: 600px) {
    .lead__image {
        height: 211px;
        margin: 34px auto 0;
    }
}