
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Inter/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter/Inter-Regular.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 400;
    src: url('../fonts/Inter/Inter-ExtraLightItalic-BETA.woff2') format('woff2'),
    url('../fonts/Inter/Inter-ExtraLightItalic-BETA.woff') format('woff');
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/Inter/Inter-ExtraBold.woff2") format("woff2"),
    url("../fonts/Inter/Inter-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  italic;
    font-weight: 900;
    src: url('../fonts/Inter/Inter-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/Inter/Inter-ExtraBoldItalic.woff') format('woff');
}