.intro__statistics {
    color: #FFFFFF;
    font-family: Inter, Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    margin-left: 0;
}

@media screen and (max-width: 600px) {
    .intro__statistics {
        font-size: 12px;
        line-height: 19px;
    }
}