.video__icon-play {
    z-index: 2;
    width: 41px;
    height: 41px;
    margin: 30px;
    padding-bottom: 54px;
    opacity: 1;
}

@media screen and (max-width: 1100px){
    .video__icon-play {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 900px){
    .video__icon-play {
        margin: 20px 26px 0;
    }
}

@media screen and (max-width: 350px){
    .video__icon-play {
        margin: 12px 18px 8px;
    }
}