.intro__text {
    color: #FFFFFF;
    font-family: Inter, Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    max-width: 683px;
    padding-bottom: 17px;
}

@media screen and (max-width: 700px) {
    .intro__text {
        font-size: 1rem;
        line-height: 1.6875;
        padding-bottom: 32px;
    }
}
