@import "__title/intro__title.css";
@import "__content-row/intro__content-row.css";
@import "__text/intro__text.css";
@import "__text-bold/intro__text-bold.css";
@import "__content/intro__content.css";
@import "__statistics/intro__statistics.css";
@import "__statistics-line/intro__statistics-line.css";

.intro {
    max-width: 984px;
    margin: 76px auto 0;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1100px) {
    .intro {
        width: 90%;
    }
}

@media screen and (max-width: 900px) {
    .intro {
        width: 100%;
        padding-left: 25px;
    }
}

/*@media screen and (max-width: 768px) {*/
/*    .intro {*/
/*        margin: 64px auto 0;*/
/*    }*/
/*}*/