.additional__content-title {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
    text-align: center;

    color: #FFFFFF;

    margin-bottom: 30px;
}
