.lead__subtitle {
    max-width: 583px;

    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;

    margin: 38px auto 0;

    color: #FFFFFF;
}

@media screen and (max-width: 700px) {
    .lead__subtitle {
        font-size: 1rem;
        line-height: 1;
        max-width: 300px;
        margin: 8px auto 0;
    }
}
