@import "__title/cover__title.css";
@import "__subtitle/cover__subtitle.css";
@import "__link/cover__link.css";

.cover {
    max-width: 1184px;
    margin: 102px auto 142px;
    position: relative;
    background-image: url("../../images/cover.jpg");
    background-size: cover;
}

.cover::after {
    content: "";
    display: block;
    min-width: 100%;
    min-height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .3;
    transition: opacity 1s ease-in .1s;
}

.cover:hover::after {
    opacity: .8;
}