.cover__overlay {
    background: black;
    opacity: 0.5;
    transition: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    z-index: 1;
    position: absolute;
    width: 1184px;
    top: -280px;
    left: 0;
}
