.footer__links-list {
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .footer__links-list {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}