@import "../vendor/normalize.css";
@import "../blocks/header/header.css";
@import "../blocks/content/content.css";
@import "../blocks/lead/lead.css";
@import "../blocks/intro/intro.css";
@import "../blocks/photo-grid/photo-grid.css";
@import "../blocks/video/video.css";
@import "../blocks/additional/additional.css";

@import "../blocks/places/places.css";
@import "../blocks/comments/comments.css";
@import "../blocks/cover/cover.css";
@import "../blocks/emblem/emblem.css";
@import "../blocks/barentsburg/barentsburg.css";
@import "../blocks/footer/footer.css";


@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Inter/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter/Inter-Regular.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/Inter/Inter-Black.woff2") format("woff2"),
    url("../fonts/Inter/Inter-Black.woff") format("woff");
}


.page {
    margin: 0 auto;
    background-color: #2A2C2F;
    background-size: 100%;
    max-width: 100%;

    align-content: center;
    display: flex;
    flex-direction: column;
}

div {
    /*border: red 1px solid;*/
}
