.lead__caption {
    max-width: 638px;
    max-height: 10px;
    padding: 6px 0;
    margin: 0;

    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #FFFFFF;
}

@media screen and (max-width: 900px) {
    .lead__caption {
        padding-top: 12px;
        padding-left: 24px;
    }
}

@media screen and (max-width: 600px) {
    .lead__caption {
        padding-top: 0;
        padding-left: 16px;
    }
}