.cover__title {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;

    color: #FFFDFD;
    position: relative;
    z-index: 2;
    margin: 0 auto;

    padding-top: 274px;
    padding-bottom: 118px;
}

@media screen and (max-width: 1100px) {
    .cover__title {
        padding-bottom: 70px;
        margin-left: 28px;
        width: 90%;
        padding-top: 214px;
    }
}

@media screen and (max-width: 900px) {
    .cover__title {
        padding-top: 172px;
        padding-left: 0;
        padding-bottom: 52px;

        max-width: 700px;
    }
}

@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 2rem;
        line-height: 2.1875rem;
    }
}