.comments__content-title {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;

    text-align: center;

    color: #FFFFFF;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 40px;
}

@media screen and (max-width: 1100px) {
    .comments__content-title {
        line-height: 70px;
        padding-bottom: 35px;
    }
}

@media screen and (max-width: 900px) {
    .comments__content-title {
        font-size: 42px;
        line-height: 46px;
        padding-bottom: 24px;
        max-width: 550px;
    }
}

@media screen and (max-width: 600px) {
    .comments__content-title {
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 350px) {
    .comments__content-title {
        font-size: 32px;
        line-height: 35px;
        padding-bottom: 18px;
    }
}
