@import "__link/footer__link.css";
@import "__copyright/footer__copyright.css";
@import "__navigation-block/footer__navigation-block.css";
@import "__links-list/footer__links-list.css";

.footer {
    max-width: 1184px;
    margin: 0 auto 15px;
    padding-top: 76px;

    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 1100px) {
    .footer {
        padding-top: 90px;
        width: 90%;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
    }
}