@import "__link/footer__link.css";
@import "__copyright/footer__copyright.css";
@import "__navigation-block/footer__navigation-block.css";

.footer {
    width: 1184px;
    margin: 0 auto 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}