.video__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(582px, 1fr));

    max-width: 1184px;
    justify-items: center;
    align-items: center;

    grid-gap: 1vh;
    grid-row-gap: 1vh;
}

