.video__container {
    display: flex;
    /*grid-template-columns: repeat(auto-fit, minmax(582px, 1fr));*/
    flex-direction: row;
    width: 100%;
    max-width: 1184px;
    justify-items: center;
    justify-content: space-around;
    align-items: center;

    /*grid-gap: 1vh;*/
    /*grid-row-gap: 1vh;*/
}

@media screen and (max-width: 1100px) {
    .video__container {
        justify-content: space-evenly;
    }
}